body {
  background-image: linear-gradient(to right, #000080, #800000);
}
#openMenu {
font-size: 1.5em;
display: inline;
color: white;
}

#closeMenu {
  display: flex;
}

#menu {
border: 2px solid #000000;
display: none;
}

.menuItem {
border: 2px solid #000000;
background-color: #330033;
color: #CC9999;
border-radius: 2px;
margin: 5px 0px 5px 0px;
padding: 5px;
font-weight: bold;
transition-property: background-color;
transition-duration: 0.5s;
}

.menuItem:hover {
  background-color: #33CC33;
}

@media screen and (max-width: 500px) {
  #openMenu {
  display: inline;
  }

  #closeMenu {
    display: flex;
  }

  #menu {
  display: none;
  top: 0px;
  width: 95%;
  float: none;
  text
  transform: translate(-50%);
  border-width: 5px;
  text-align: left;
  }

  .getToSchool {
    width: 500px;
    height: 300px;
  }
}

a {
  color: white;
}
.description {
  color: white;
}
